<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" android:sharedUserId="android.uid.phone" package="com.android.stk" platformBuildVersionCode="21" platformBuildVersionName="5.0.2-219">
    <original-package android:name="com.android.stk"/>
    <permission android:label="@string/stk_intent_permission" android:name="android.permission.SEND_RECEIVE_STK_INTENT" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SEND_RECEIVE_STK_INTENT"/>
    <application android:clearTaskOnLaunch="true" android:icon="@drawable/ic_launcher_sim_toolkit" android:label="@string/app_name" android:process="com.android.phone" android:supportsRtl="true">
        <activity android:label="@string/app_name" android:name="StkMainActivity" android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="StkSelectSubActivity"/>
        <activity android:enabled="false" android:label="@string/app_name" android:name="StkLauncherActivity" android:taskAffinity="android.task.StkLauncherActivity" android:theme="@style/Theme.Transparent">
- </activity>
        <activity android:enabled="false" android:label="@string/app_name2" android:name="StkLauncherActivity2" android:taskAffinity="android.task.StkLauncherActivity2"/>
        <activity android:enabled="false" android:label="@string/app_name3" android:name="StkLauncherActivity3" android:taskAffinity="android.task.StkLauncherActivity3"/>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize" android:launchMode="singleTop" android:name="StkMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="StkInputActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="StkDialogActivity" android:theme="@android:style/leLicenceDialogTheme"/>
        <activity android:name="ToneDialog" android:theme="@android:style/Theme.Dialog"/>
        <activity android:label="@string/app_name" android:name="StkSettings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.android.stk.StkCmdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.stk.command"/>
                <action android:name="android.intent.action.stk.session_end"/>
                <action android:name="android.intent.action.stk.icc_status_change"/>
                <action android:name="org.codeaurora.intent.action.stk.alpha_notify"/>
                <action android:name="org.codeaurora.intent.action.stk.idle_screen"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="org.codeaurora.intent.action.stk.hci_connectivity"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.stk.BootCompletedReceiver" androidprv:primaryUserOnly="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="StkAppService"/>
    </application>
</manifest>
