<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" coreApp="true" package="com.letv.bsp.qccrashhandler" platformBuildVersionCode="21" platformBuildVersionName="5.0.2-219">
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:persistent="true" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".TestActivity"/>
        <receiver android:enabled="true" android:exported="true" android:name=".BugReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DROPBOX_ENTRY_ADDED"/>
                <action android:name="letv.intent.action.CRASH_SERVICE_READY"/>
                <action android:name="letv.intent.action.AGNES_INIT_COMPLETED"/>
                <action android:name="letv.intent.action.SIMULATE_EXCEPTION"/>
                <action android:name="letv.intent.action.SEMS_TOMBSTONE_COMING"/>
                <action android:name="letv.intent.action.crashhandler.MANUAL_BUG"/>
                <action android:name="android.intent.action.letv.SSR_RESET"/>
                <action android:name="android.intent.action.letv.PROP_SET_REQ"/>
                <action android:name="letv.intent.action.MODEM_EXCEPTION"/>
                <action android:name="letv.intent.action.POWER_EXCEPTION"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name=".ModemReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PRECISE_CALL_STATE"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name=".CrashHandleService">
            <intent-filter>
                <action android:name="android.intent.action.letv.LOG_COMPLETE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
