<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.le.share.max" platformBuildVersionCode="19" platformBuildVersionName="4.4-892118">
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application android:allowBackup="true" android:debuggable="false" android:icon="@drawable/defaultimage" android:label="@string/app_name" android:name="ShareApplication">
        <activity android:label="@string/app_name" android:name="com.le.share.max.LaunchWeChatShareActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="le.share_to_wechat"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.le.share.max.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:label="@string/app_name" android:name="com.le.share.max.LaunchWeiboShareActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="le.share_to_weibo"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/app_name" android:name="com.le.share.max.LaunchWeiboAsyncShareActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="le.async.share_to_weibo"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="com.le.share.max.LaunchQQShareActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="le.share_to_qq"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.le.share.max.LaunchQZoneShareActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="le.share_to_qzone"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.letv.android.sso.WBAuthActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1105051321"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.connect.common.AssistActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name="net.sourceforge.simcpux.AppRegister" android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.sina.weibo.sdk.net.DownloadService"/>
    </application>
</manifest>
