<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.phone" coreApp="true" package="com.android.providers.telephony" platformBuildVersionCode="21" platformBuildVersionName="5.0.2-219">
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <application android:allowBackup="false" android:allowClearUserData="false" android:icon="@mipmap/ic_launcher_phone" android:label="@string/app_label" android:process="com.android.phone">
        <provider android:authorities="telephony" android:exported="true" android:multiprocess="false" android:name="TelephonyProvider"/>
        <provider android:authorities="sms" android:exported="true" android:multiprocess="false" android:name="SmsProvider" android:readPermission="android.permission.READ_SMS" android:singleUser="true" android:writePermission="android.permission.WRITE_SMS"/>
        <provider android:authorities="mms" android:exported="true" android:multiprocess="false" android:name="MmsProvider" android:readPermission="android.permission.READ_SMS" android:singleUser="true" android:writePermission="android.permission.WRITE_SMS">
            <grant-uri-permission android:pathPrefix="/part/"/>
            <grant-uri-permission android:pathPrefix="/drm/"/>
        </provider>
        <provider android:authorities="mms-sms" android:exported="true" android:multiprocess="false" android:name="MmsSmsProvider" android:readPermission="android.permission.READ_SMS" android:singleUser="true" android:writePermission="android.permission.WRITE_SMS"/>
        <provider android:authorities="hbpcd_lookup" android:exported="true" android:multiprocess="false" android:name="HbpcdLookupProvider" android:singleUser="true" android:writePermission="android.permission.MODIFY_PHONE_STATE"/>
        <provider android:authorities="mms-sms-sync" android:exported="true" android:icon="@mipmap/ic_launcher_smsmms" android:label="@string/mmssms_sync_label" android:multiprocess="false" android:name="MmsSmsSyncProvider" android:readPermission="android.permission.READ_SMS" android:singleUser="true" android:writePermission="android.permission.WRITE_SMS"/>
        <receiver android:name="LeAccChangeReceiver">
            <intent-filter>
                <action android:name="com.letv.android.account.ACTION_LOGOUT_SAVE"/>
                <action android:name="com.letv.android.account.ACTION_LOGOUT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
